*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Kotlin
*.kapt

# Android
build/
app/build/
*.apk
*.ap_
*.dex
*.class

# Subdirs
VideoDownloader/.gradle/
VideoDownloader/build/
VideoDownloader/app/build/
VideoDownloader/.idea/
VideoDownloader/local.properties
