*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Kotlin
*.kapt

# Android
build/
app/build/
*.apk
*.ap_
*.dex
*.class

# Node
node_modules/

# Python
__pycache__/
*.pyc
